<!DOCTYPE html>
<html ng-app="appBoxSystem">
<head>
<base href="/" />
<meta charset="utf-8"/>
<title>Insert title here</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
	<script type="text/javascript" src="./js/controller/main-controller.js"></script>
	<script type="text/javascript" src="./js/controller/login-controller.js"></script>
	<script type="text/javascript" src="./js/controller/cliente-controller.js"></script>
	<script type="text/javascript" src="./js/controller/cliente-detalhe-controller.js"></script>
	<script type="text/javascript" src="./js/controller/uf-controller.js"></script>
	<script type="text/javascript" src="./js/controller/cidade-controller.js"></script>
	<script type="text/javascript" src="./js/interceptor/token-interceptor.js"></script>
</head>
<body ng-controller="mainController">

	<a href="/#/cliente">Clientes</a> | 
	<a href="/#/uf">Unidade Federativa</a> | 
	<a href="/#/cidade">Cidades</a> | 
	<a href="/#/login">Login</a>
	
	<br/>

	<div ng-view="ng-view">
	
	</div>
	
</body>
</html>